pexpect==4.9.0
Pygments==2.19.1
text-unidecode==1.3
pandas==2.2.3
decorator==5.1.1
idna==3.10
traitlets==5.14.3
nest-asyncio==1.6.0
kiwisolver==1.4.8
ptyprocess==0.7.0
pillow==11.1.0
pyzmq==26.2.1
parso==0.8.4
webencodings==0.5.1
requests==2.32.3
debugpy==1.8.12
pydantic==2.10.6
GitPython==3.1.44
jedi==0.19.2
joblib==1.4.2
ipython==8.32.0
jupyter_client==8.6.3
asttokens==3.0.0
sentry-sdk==2.22.0
tqdm==4.67.1
urllib3==2.3.0
scikit-learn==1.6.1
protobuf==5.29.3
click==8.1.8
appnope==0.1.4
python-slugify==8.0.4
executing==2.2.0
stack-data==0.6.3
threadpoolctl==3.5.0
wandb==0.19.6
jupyter_core==5.7.2
python-dotenv==1.0.1
pip==25.0
gitdb==4.0.12
psutil==7.0.0
matplotlib==3.10.0
fonttools==4.56.0
python-dateutil==2.9.0.post0
charset-normalizer==3.4.1
wcwidth==0.2.13
packaging==24.2
scipy==1.15.2
certifi==2025.1.31
tzdata==2025.1
pydantic_core==2.27.2
cycler==0.12.1
opencv-python==4.11.0.86
comm==0.2.2
pure_eval==0.2.3
tornado==6.4.2
pyparsing==3.2.1
docker-pycreds==0.4.0
contourpy==1.3.1
typing_extensions==4.12.2
PyYAML==6.0.2
setuptools==75.8.0
matplotlib-inline==0.1.7
smmap==5.0.2
kaggle==1.6.17
bleach==6.2.0
prompt_toolkit==3.0.50
platformdirs==4.3.6
ipykernel==6.29.5
setproctitle==1.3.4
pytz==2025.1
annotated-types==0.7.0
numpy==2.2.3
six==1.17.0
